@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #141e30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: medium;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input,
.login-box .user-box select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box select:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box select:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box button,
#backButton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: 1px solid #03e9f4;
  cursor: pointer;
}

.login-box button:hover,
#backButton:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box button:before,
#backButton:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, transparent, #03e9f4);
  transition: 0.5s;
  z-index: -1;
}

.login-box button:hover:before,
#backButton:hover:before {
  width: 100%;
}

.cardBox {
  width: 750px;
  height: 520px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px, rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000814;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 40px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
  overflow-y: auto;
}

.card h2,
span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 800;
  pointer-events: none;
  opacity: 0.1;
}

span {
  top: 75%;
}

.card .content {
  width: 100%;
  transform: translateY(0);
  opacity: 1;
}

.card .content h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}

.card .content p {
  font-size: 1.6rem;
  line-height: 25px;
}

.card .content a {
  font-size: 1.6rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.card .content a:hover {
  color: #03e9f4;
}

.row {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#recommendedBookImage {
  width: 25%;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
}

.card img {
  width: 20%;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
}

.bookInfo {
  margin-top: 280px;
  text-align: center;
  text-decoration: underline;
}

.bookInfo h3 {
  color: #03e9f4;
}

.book-img {
  width: 30%;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
  border: solid 1px #110e0e;
  box-shadow: 0px 0px 15px 0px #595252;
}

#backButton {
  margin-top: 40px;
}
#progressBar {
  display: none;
}

.progress-10 {
  width: 120px;
  height: 60px;
  border-radius: 200px 200px 0 0;
  -webkit-mask: repeating-radial-gradient(farthest-side at bottom, #0000 0, #000 1px 12%, #0000 calc(12% + 1px) 20%);
  background: radial-gradient(farthest-side at bottom, #514b82 0 95%, #0000 0) bottom/0% 0% no-repeat #ddd;
  animation: p10 2s infinite steps(6);
}

@keyframes p10 {
  100% {
    background-size: 120% 120%;
  }
}

* {
  box-sizing: border-box;
}

#cookieConsentBanner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #d8c413;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Poppins", sans-serif;
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, -200%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

#cookieConsentBanner p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #100e0e;
}

#cookieConsentBanner .agree {
  display: flex;
  justify-content: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cookieConsentBanner button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: fadeIn 0.5s ease-in-out;
}

#cookieConsentBanner button:hover {
  background-color: #0288a3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.steps-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.steps-container h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: large;
}

.steps-container svg {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.steps-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #fff;
}

.steps-container ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.steps-container ul li svg {
  margin-right: 10px;
}

/* Adjusting the login box position */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade 10s ease forwards;
  animation-delay: 0.5s;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .cardBox {
    width: 100%;
  }

  .book-img,
  #recommendedBookImage,
  .card img {
    width: 100%;
    margin-bottom: 20px;
  }

  .steps-container {
    width: 100%;
    max-width: 400px;
  }

  .login-box {
    width: 90%;
  }
}

#aboutButton {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #0288a3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s;
}

#aboutButton:hover {
  background-color: #0288a3;
}

#aboutButton::before {
  content: "\f05a";
  font-family: "Font Awesome 5 Free";
  transform: scale(1.2);
}

#aboutButton i.fa-info-circle {
  font-size: 24px;
}

#aboutButton::after {
  content: "Introducing Moody, your personalized Book Recommendation Assistant! Moody revolutionizes the way you discover new books by understanding your mood and reading choices. Moody takes into account your mood and adapts to your style, whether you prefer cheerful, mysterious, or straightforward recommendations. Discover captivating reads tailored to your mood with Moody. Let it guide you on exciting literary adventures and unlock a universe of personalized reading possibilities.";
  position: absolute;
  top: calc(100% + 10px); /* Position below the About button */
  right: 20px;
  width: 250px;
  background: #fff;
  color: #000;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  line-height: 1.5;
  white-space: pre-line;
  text-align: center;
}

#aboutButton:hover::after {
  opacity: 1;
  pointer-events: auto;
  z-index: 2; /* Bring the content above other elements */
}

